@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

/* =================START OF NAVBAR============= */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;
  background-color: #4263eb;
}
.navbar1 {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.8rem 2rem;
}
.navbar2 {
  padding-left: 1000px;
  align-items: center;
}
.heading {
  color: #fff;
  font-size: 24px;
}

.navbar-options {
  display: flex;
  gap: 10px;
}

.navbar-options1 {
  display: flex;
  gap: 10px;
}
.navbar-icons-container {
  border-radius: 7px;
  padding: 10px 18px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon {
  font-size: 16px;
  color: #fff;
  margin-right: 16px;
}

.icon-name {
  color: #fff;
}

.bg-white {
  background: #fff;
}

.bg-white i {
  color: #333;
}

.bg-white p {
  color: #333;
}

.bg-red {
  background-color: #fa5252;
}

.bg-green {
  background-color: #40c057;
}

@media only screen and (max-width: 800px) {
  .navbar {
    flex-direction: column;
    gap: 20px;

    font-size: 12px;
  }

  .icon {
    font-size: 12px;
  }
}

@media only screen and (max-width: 400px) {
  .navbar-icons-container {
    padding: 6px 6px;
    align-items: center;
  }
}
/* =================END OF NAVBAR============= */

.main-section {
  margin: 4rem 2rem;
}

.section-1 {
  display: flex;
  justify-content: space-between;
}

.currency-container {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.side-heading {
  font-weight: 700;
}

.currency {
  color: #40c057;
  font-weight: 700;
}

.button-primary {
  text-decoration: none;
  padding: 1rem 2rem;
  background-color: #748ffc;
  color: #fff;
  border-radius: 7px;
}

table,
th,
td {
  border: 2px solid #fff;
  border-collapse: collapse;
  /* padding: 1rem 1rem; */
  text-align: center;
}

th {
  background-color: #748ffc;
  color: #fff;
}

td {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
}
/* .table-section {
  margin-top: 3rem;
} */

select {
  border: none;
  font-size: 16px;
  background-color: #fff;
}

select:focus {
  border: 1px solid #748ffc;
}

input,
select {
  border: 1px #bbb solid;
}

select {
  padding: 5px;
  border: none;
}

input {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

button {
  background: none;
  border: none;
  padding: 0 10px;
}

input:focus,
select:focus {
  border: none;
  outline: 2px solid #748ffc;
}

.table-input {
  padding: 0px;
  font-size: inherit;
  border: none;
  width: 80px;
}

.table-input:focus {
  border: 1px solid #748ffc;
}

.icon-table-column i {
  padding: 0 10px;
}

.color-green {
  color: #40c057;
  cursor: pointer;
}

.color-red {
  color: #fa5252;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .section-1 {
    flex-direction: column;
    gap: 20px;
  }
  .table-section {
    overflow-x: scroll;
    justify-content: flex-start;
  }
}
