@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
}


/* =================START OF NAVBAR============= */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem 2rem;
    background-color: #4263eb;
}

.heading {
    color: #fff;
    font-size: 24px;
}

.navbar-options {
    display: flex;
    gap: 10px;
}

.navbar-icons-container {
    border-radius: 7px;
    padding: 10px 18px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.icon {
    font-size: 16px;
    color: #fff;
    margin-right: 16px;
}

.icon-name {
    color: #fff;
}

.bg-white {
    background: #fff;
}

.bg-white i {
    color: #333;
}

.bg-white p {
    color: #333;
}

.bg-red {
    background-color: #fa5252;
}

.bg-green {
    background-color: #40c057;
}

@media only screen and (max-width: 800px) {
    .navbar {
        flex-direction: column;
        gap: 20px;
        font-size: 12px;
    }
    .icon {
        font-size: 12px;
    }
}

@media only screen and (max-width: 400px) {
    .navbar-icons-container {
        padding: 6px 6px;
        align-items: center;
    }
}


/* =================END OF NAVBAR============= */

.main-section {
    margin: 4rem 2rem;
}

.section-1 {
    display: flex;
    justify-content: space-between;
}

.currency-container {
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.side-heading {
    font-weight: 700;
}

.currency {
    color: #40c057;
    font-weight: 700;
}

.button-primary {
    text-decoration: none;
    padding: 1rem 2rem;
    background-color: #748ffc;
    color: #fff;
    border-radius: 7px;
}

table,
th,
td {
    border: 2px solid #fff;
    border-collapse: collapse;
    padding: 1rem 2rem;
    text-align: center;
}

th {
    background-color: #748ffc;
    color: #fff;
}

td {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

select {
    border: none;
    font-size: 16px;
    background-color: #fff;
}

select:focus {
    border: 1px solid #748ffc;
}

.table-section {
    margin-top: 3rem;
}

.table-input {
    padding: 10px;
    font-size: inherit;
    border: none;
    width: 100px;
}

.table-input:focus {
    border: 1px solid #748ffc;
}

.icon-table-column i {
    padding: 0 10px;
}

.color-green {
    color: #40c057;
    cursor: pointer;
}

.color-red {
    color: #fa5252;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .section-1 {
        flex-direction: column;
        gap: 20px;
    }
    .table-section {
        overflow-x: scroll;
        justify-content: flex-start;
    }
}


/* //DELETE */

*,
*::before,
*::after {
    box-sizing: border-box;
}

.custom-field {
    position: relative;
    font-size: 14px;
    border-top: 20px solid transparent;
    margin-bottom: 5px;
    display: inline-block;
    --field-padding: 12px;
}

.custom-field input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f2f2f2;
    padding: var(--field-padding);
    border-radius: 3px;
    width: 250px;
    outline: none;
    font-size: 14px;
}

.custom-field .placeholder {
    position: absolute;
    left: var(--field-padding);
    width: calc(100% - (var(--field-padding) * 2));
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    top: 22px;
    line-height: 100%;
    transform: translateY(-50%);
    color: #aaa;
    transition: top 0.3s ease, color 0.3s ease, font-size 0.3s ease;
}

.custom-field input.dirty+.placeholder,
.custom-field input:focus+.placeholder,
.custom-field input:not(:placeholder-shown)+.placeholder {
    top: -10px;
    font-size: 10px;
    color: #222;
}

.custom-field .error-message {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 8px;
    font-size: 12px;
    background: #d30909;
    color: #fff;
    height: 24px;
}

.custom-field .error-message:empty {
    opacity: 0;
}


/* ONE */

.custom-field.one input {
    background: none;
    border: 2px solid #ddd;
    transition: border-color 0.3s ease;
}

.custom-field.one input+.placeholder {
    left: 8px;
    padding: 0 5px;
}

.custom-field.one input.dirty,
.custom-field.one input:not(:placeholder-shown),
.custom-field.one input:focus {
    border-color: #222;
    transition-delay: 0.1s;
}

.custom-field.one input.dirty+.placeholder,
.custom-field.one input:not(:placeholder-shown)+.placeholder,
.custom-field.one input:focus+.placeholder {
    top: 0;
    font-size: 10px;
    color: #222;
    background: #fff;
    width: auto;
}


/* TWO */

.custom-field.two input {
    border-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: linear-gradient(90deg, #222, #222) center bottom/0 0.15em no-repeat, linear-gradient(90deg, #ccc, #ccc) left bottom/100% 0.15em no-repeat, linear-gradient(90deg, #fafafa, #fafafa) left bottom/100% no-repeat;
    transition: background-size 0.3s ease;
}

.custom-field.two input.dirty,
.custom-field.two input:not(:placeholder-shown),
.custom-field.two input:focus {
    background-size: 100% 0.15em, 100% 0.1em, 100%;
}


/* THREE */

.custom-field.three {
    --draw-duration: 0.1s;
    --draw-color: #222;
    --draw-line-width: 2px;
    --draw-easing: linear;
}

.custom-field.three .border {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: none;
    display: flex;
    align-items: center;
    padding-left: 12px;
    borde-radius: 3px;
}

.custom-field.three .border::after,
.custom-field.three .border::before {
    content: "";
    width: 0;
    height: 0;
    display: inline-block;
    position: absolute;
    border-radius: 3px;
}

.custom-field.three .border::before {
    left: 0;
    bottom: 0;
    border-right: 0px solid var(--draw-color);
    border-bottom: 0px solid var(--draw-color);
    transition: border 0s linear calc(var(--draw-duration) * 4), height var(--draw-duration) var(--draw-easing) calc(var(--draw-duration) * 2), width var(--draw-duration) var(--draw-easing) calc(var(--draw-duration) * 3);
}

.custom-field.three .border::after {
    right: 0;
    top: 0;
    border-left: 0px solid var(--draw-color);
    border-top: 0px solid var(--draw-color);
    transition: border 0s linear calc(var(--draw-duration) * 2), height var(--draw-duration) var(--draw-easing), width var(--draw-duration) var(--draw-easing) var(--draw-duration);
}

.custom-field.three input:focus~.border::before,
.custom-field.three input:not(:placeholder-shown)~.border::before,
.custom-field.three input.dirty~.border::before,
.custom-field.three input:focus~.border::after,
.custom-field.three input:not(:placeholder-shown)~.border::after,
.custom-field.three input.dirty~.border::after {
    width: 100%;
    height: 100%;
    border-width: var(--draw-line-width);
}

.custom-field.three input:not(:placeholder-shown)~.border::before,
.custom-field.three input.dirty~.border::before,
.custom-field.three input:focus~.border::before {
    transition-delay: 0s, var(--draw-duration), 0s;
}

.custom-field.three input:not(:placeholder-shown)~.border::after,
.custom-field.three input.dirty~.border::after,
.custom-field.three input:focus~.border::after {
    transition-delay: calc(var(--draw-duration) * 2), calc(var(--draw-duration) * 3), calc(var(--draw-duration) * 2);
}

tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


/* The container must be positioned relative: */

.custom-select {
    position: relative;
    font-family: Arial;
}

.custom-select select {
    display: none;
    /*hide original SELECT element: */
}

.select-selected {
    background-color: DodgerBlue;
}


/* Style the arrow inside the select element: */

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}


/* Point the arrow upwards when the select box is open (active): */

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}


/* style the items (options), including the selected item: */

.select-items div,
.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}


/* Style items (options): */

.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}


/* Hide the items when the select box is closed: */

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.table-text-input:read-only {
    border: none;
}